.cart {
  .cart-image {
    height: 110px;
    min-width: 110px;
    background-position: center center;
    background-size: cover;
    &.cart-image-sm {
      height: 80px;
    }
  }

  .cart-control {
    width: 142px;
  }

  .cart-input-group {
    .form-control {
      flex: 0 0 auto;
      text-align: center;
      height: 48px;
      width: 48px;
    }
    .btn {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .cart-row {
    .price {
      @include media-breakpoint-down(md) {
        border-top: solid 1px $primary-200;
        border-bottom: solid 1px $primary-200;
      }
      @include media-breakpoint-up(md) {
        border: none;
      }
    }
    & + .cart-row {
      @include media-breakpoint-up(md) {
        border-top: solid 1px $primary-200;
      }
    }
  }

  .cart-info-box {
    @include media-breakpoint-up(lg) {
      background-color: theme-color('primary');
      color: $primary-200;
    }
  }

  .cart-info-title {
    background-color: $primary-200;
    color: theme-color('primary');
    @include media-breakpoint-up(lg) {
      background-color: theme-color('primary');
      color: $primary-200;
    }
  }
}