.header {
  $main-height: 496px;
  position: relative;
  .header-main-image {
    height: $main-height;
  }
  .header-image-slogan {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  //rectangle box
  $rectangle-image-height: 256px;
  .rectangle-section {
    margin-top: -90px;
  }

  .rectangle-image-wrap {
    height: $rectangle-image-height;
    position: relative;
    overflow: hidden;
    z-index: 2;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    & + .rectangle-image-wrap {
      border-left: 1px solid white;
    }
    .rectangle-over {
      background-color: rgba(theme-color('primary'), .8);
      transition: background-color .5s;
    }
    &.active {
      color: theme-color('primary');
      font-weight: bolder;
      .rectangle-over {
        background-color: rgba(theme-color('minor'), .8);
      }
    }
    &:hover, &:focus {
      color: theme-color('primary');
      font-weight: bolder;
      .rectangle-over {
        background-color: rgba(theme-color('minor'), .8);
      }
      .rectangle-image {
        filter: blur(0);
      }
    }
  }
  .rectangle-text {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .rectangle-image {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    filter: blur(7px);
    transition: filter .5s;
  }
}